html{
    background-color:lightblue;
    background-image:url("../images/nuageRepete.jpg");
}
body{
    margin:5% 15% 5% 15%;
    background-color:rgba(4, 134, 69, 0.952);
    padding:5% 5% 5% 5%;
    border:black solid;
    border-radius:3%;
    height:85%;
}

header{
    padding:5px;
    background-color:rgb(3, 80, 32);
    border:black solid;
}
nav{
    border:black solid;
}
#liens{
    color:black;
}
link{
    color:azure;
}

footer{
    font-style:italic;
    font-size:small;

}

#titre{
    font-weight:bolder;
    font-style:italic;
    text-decoration: underline;
    height:1em;
    color:black;
    font-size: 32px;
}

#logo{
    float:left;
    height:60px;
}

#formulairePersonnage{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}
#formulaireEnnemi{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

/* Zones de jeu ! */

#jeu{
    width:100%;
    height: 700px;
    font-weight: bold;
    color:white;
    border: black solid;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url("../images/rpg.jpg")
}

/* Ajout depuis la derniere màj */

#introText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#resumeText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}
#areneText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#villageText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#finText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#foretText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#pontText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#campText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#magasinText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#aubergeText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#combatText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#carteText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#intro{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}
#village{
    background-image:url("../images/villageVide.jpg");
    height:700px;
    background-size:cover;
}

#auberge{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}

#foret{
    background-image:url("../images/wood.jpg");
    height:700px;
    background-size:cover;
}

#pont{
    background-image:url("../images/bridge.jpg");
    height:700px;
    background-size:cover;
}

#carte{
    background-image:url("../images/carteVillage.jpg");
    height:700px;
    background-size:cover;
}

#magasin{
background-image:url("../images/shop.jpg");
height:700px;
background-size:cover;
}

#arene{
    background-image:url("../images/arena.jpg");
    height:700px;
    background-size:cover;
}

#combat{
    background-image:url("../images/combat.jpg");
    height:700px;
    background-size:cover;
}

#boss{
    background-image:url("../images/combatBoss.jpg");
    height:700px;
    background-size:cover;
}

#tableInventaire{
 border:2px white solid;
 height:60px;
 width:100%;
}
td{
    width:10%;
    border:1px white solid;
    height:100%
}
#potion{
    background-image:url("../images/potion.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
#armure_en_cuir{
    background-image:url("../images/armureCuir.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
#armure_en_fer{
    background-image:url("../images/armureFer.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
#arbalète_du_chasseur{
    background-image:url("../images/arbalete.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#dague_du_voleur{
    background-image:url("../images/dague.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#baguette_du_sorceleur{
    background-image:url("../images/baguette.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#epee_du_gladiateur{
    background-image:url("../images/epee.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#ticket_d_arène{
    background-image:url("../images/ticket.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#trophée_d_arène{
    background-image:url("../images/trophee.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}

#laisser_passer{
    background-image:url("../images/autoMaire.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
#bois{
    background-image:url("../images/bois.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
#hache_de_bûcheron{
    background-image:url("../images/hache.png");
    text-align: center;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width:10%;
}
/* les autres objets auront les mêmes caractéristiques de "potion" mais avec le fond correspondant. */
