html{
    background-color:lightblue;
    background-image:url("../images/nuageRepete.jpg");
}
body{
    margin:5% 15% 5% 15%;
    background-color:brown;
    padding:5% 5% 5% 5%;
    border:black solid;
    border-radius:3%;
    height:85%;
    
}
header{
    padding:5px;
    background-color:rgb(116, 15, 35);
    border:black solid;
}
nav{
    border:black solid;
}
#liens{
    color:black;
}

footer{
    font-style:italic;
    font-size:small;

}
#titre{
    font-weight:bolder;
    font-style:italic;
    text-decoration: underline;
    height:1em
}
#formulairePersonnage{
    background-color:rgb(116, 15, 35);
    border: solid black;
    padding: 3px;
    height:180px;
}
#formulaireEnnemi{
    background-color:rgb(116, 15, 35);
    border: solid black;
    padding: 3px;
    height:180px;
}

/* Zones de jeu ! */

#jeu{
    background-image:url(../images/auberge.jpg);
    width:100%;
    height: 700px;
    font-weight: bold;
    color:black;
    border: black solid;
    background-size:cover;
    background-repeat: no-repeat;
}

#introText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#AreneText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#VillageText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#ForetText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#PontText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#CampText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#MagasinText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#AubergeText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#CombatText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#carteText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#intro{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}
#Village{
    background-image:url("../images/villageVide.jpg");
    height:700px;
    background-size:cover;
}

#auberge{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}

#forêt{
    background-image:url("../images/wood.jpg");
    height:700px;
    background-size:cover;
}

#pont{
    background-image:url("../images/bridge.jpg");
    height:700px;
    background-size:cover;
}

#carte{
    background-image:url("../images/carteVillage.jpg");
    height:700px;
    background-size:cover;
}

#magasin{
background-image:url("../images/shop.jpg");
height:700px;
background-size:cover;
}

#Arene{
    background-image:url("../images/arena.jpg");
    height:700px;
    background-size:cover;
}

#Combat{
    background-image:url("../images/arena.jpg");
    height:700px;
    background-size:cover;
}
