html{
    background-color:lightblue;
    background-image:url("../images/nuageRepete.jpg");
}
body{
    margin:5% 15% 5% 15%;
    background-color:rgba(4, 134, 69, 0.952);
    padding:5% 5% 5% 5%;
    border:black solid;
    border-radius:3%;
    height:85%;
}

header{
    padding:5px;
    background-color:rgb(3, 80, 32);
    border:black solid;
}
nav{
    border:black solid;
}
#liens{
    color:black;
}
link{
    color:azure;
}

footer{
    font-style:italic;
    font-size:small;

}
#titre{
    font-weight:bolder;
    font-style:italic;
    text-decoration: underline;
    height:1em;
    color:black;
}
#formulairePersonnage{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}
#formulaireEnnemi{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

/* Zones de jeu ! */

#jeu{
    width:100%;
    height: 700px;
    font-weight: bold;
    color:white;
    border: black solid;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url("../images/rpg.jpg")
}

/* Ajout depuis la derniere màj */

#introText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#areneText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#villageText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#foretText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#pontText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#campText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#magasinText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#aubergeText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#combatText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#carteText{
    background-color:rgb(3, 80, 32);
    border: solid black;
    padding: 3px;
    height:180px;
}

#intro{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}
#village{
    background-image:url("../images/villageVide.jpg");
    height:700px;
    background-size:cover;
}

#auberge{
    background-image:url("../images/auberge.jpg");
    height:700px;
    background-size:cover;
}

#forêt{
    background-image:url("../images/wood.jpg");
    height:700px;
    background-size:cover;
}

#pont{
    background-image:url("../images/bridge.jpg");
    height:700px;
    background-size:cover;
}

#carte{
    background-image:url("../images/carteVillage.jpg");
    height:700px;
    background-size:cover;
}

#magasin{
background-image:url("../images/shop.jpg");
height:700px;
background-size:cover;
}

#arene{
    background-image:url("../images/arena.jpg");
    height:700px;
    background-size:cover;
}

#combat{
    background-image:url("../images/arena.jpg");
    height:700px;
    background-size:cover;
}
